<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>MEI needs to send messages through the Messages app on your behalf.</string>
	<key>NSContactsUsageDescription</key>
	<string>MEI needs access to your contacts to select who to respond to.</string>
</dict>
</plist>
